<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<!-- Fragment #1 : Headerfiles contains css and js references -->

<head th:fragment="headerfiles">
  <title>EXO App | Home</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <script src="https://kit.fontawesome.com/c4c4a7fc05.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="/css/css-home.css">

</head>

<body class="bg-dark text-white">
  <!-- Fragment #2 : Navbar contains nav links -->
  <div th:fragment="nav">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark shadow">

      <a class="navbar-brand" href="#">Exo App V.1.0</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="#" th:href="@{~/home}"><i class="fa fa-fw fa-home"></i> Home</a>
          </li>
          <li sec:authorize="isAuthenticated()" class="nav-item">
            <a class="nav-link" href="#" th:href="@{~/app/profile}"><i class="fa fa-fw fa-user-alt"></i> Profile</a>
          </li>
          <li sec:authorize="hasRole('ROLE_ADMIN')" class="nav-item">
            <a class="nav-link" href="#" th:href="@{~/app/admin}"><i class="fa fa-fw fa-key"></i> Admin</a>
          </li>
          <li sec:authorize="hasAnyRole('ROLE_ADMIN','ROLE_MANAGER')" class="nav-item">
            <a class="nav-link" href="#" th:href="@{~/app/management}"><i class="fa fa-fw fa-swatchbook"></i>
              Management</a>
          </li>
        </ul>
        <form th:action="@{/logout}" class="form-inline mr-3" method="post">
          <h5 class="text-white" sec:authorize="isAuthenticated()"><i class="fa fa-fw fa-user-graduate"></i><span
              sec:authentication="name" class="lead badge my-auto mr-3"></span></h5>
          <button sec:authorize="isAuthenticated()" class="btn btn-outline-danger my-2 my-sm-0 btn-sm"
            type="submit">Logout <i class="fa fa-fw fa-sign-in-alt"></i></button>
          <button sec:authorize="isAnonymous()" th:href="@{~/login}" class="btn btn-outline-info my-2 my-sm-0 btn-sm "
            type="submit">Sign In <i class="fa fa-fw fa-sign-in-alt"></i></button>
          <button sec:authorize="isAnonymous()" th:href="@{~/register}" class="btn btn-info my-2 my-sm-0 btn-sm ml-3"
            type="submit">Sign Up <i class="fa fa-fw fa-user-plus"></i></button>
        </form>
      </div>
    </nav>
  </div>


  <footer th:fragment="footer">
    <div id="footer" class="footer-1">
      <div class="main-footer widgets-dark typo-light">
        <div class="container">
          <div class="row">

            <div class="col-xs-12 col-sm-6 col-md-3">
              <div class="widget subscribe no-box">
                <h5 class="widget-title">Exo App V.1.0<span></span></h5>
                <p>Merupakan aplikasi uji coba guna mengingat semua pelajaran sebelumnya.</p>
              </div>
            </div>

            <div class="col-xs-12 col-sm-6 col-md-3">
              <div class="widget no-box">
                <h5 class="widget-title">Quick Links<span></span></h5>
                <ul class="thumbnail-widget">
                  <li>
                    <div class="thumb-content"><a href="#.">Get Started</a></div>
                  </li>
                  <li>
                    <div class="thumb-content"><a href="#.">Top Leaders</a></div>
                  </li>
                  <li>
                    <div class="thumb-content"><a href="#.">Success Stories</a></div>
                  </li>
                  <li>
                    <div class="thumb-content"><a href="#.">Event/Tickets</a></div>
                  </li>
                  <li>
                    <div class="thumb-content"><a href="#.">News</a></div>
                  </li>
                  <li>
                    <div class="thumb-content"><a href="#.">Lifestyle</a></div>
                  </li>
                  <li>
                    <div class="thumb-content"><a href="#.">About</a></div>
                  </li>
                </ul>
              </div>
            </div>

            <div class="col-xs-12 col-sm-6 col-md-3">
              <div class="widget no-box">
                <h5 class="widget-title">Get Started<span></span></h5>
                <p>Yuk belajar bareng java dengan Trainer keren Pak Bowo.</p>
                <a class="btn btn-ku" th:href="@{~/register}">Register Now</a>
              </div>
            </div>

            <div class="col-xs-12 col-sm-6 col-md-3">

              <div class="widget no-box">
                <h5 class="widget-title">Contact Us<span></span></h5>

                <p><a href="mailto:ekosutrisno801@gmail.com" title="glorythemes">ekosutrisno801@gmail.com</a></p>

                <h3 class="sosmed">
                  <a href="https://www.youtube.com/"><i class="fab fa-youtube"></i></a>

                  <a href="https://www.facebook.com/"><i class="fab fa-facebook"></i></a>

                  <a href="https://twitter.com"><i class="fab fa-twitter"></i></a>

                  <a href="https://www.instagram.com/">
                    <i class="fab fa-instagram"></i></a>
                </h3>
              </div>
            </div>

          </div>
        </div>
      </div>

      <div class="footer-copyright">
        <div class="container">
          <div class="row">
            <div class="col-md-12 text-center">
              <p>Copyright Exo App © 2016. All rights reserved.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>

  <section th:fragment="js">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous">
    </script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous">
    </script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous">
    </script>
  </section>
</body>

</html>